{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  <div id="container">
    <header>
      <nav>
        <div id="navContainer">
          <div id="nav_Logo">
            <img src="{% static 'img/logo.png' %}" alt="logo" width="50px" height="50px" />
          </div>
          <div id="nav_name">
            <h1>체크</h1>
          </div>
        </div>
      </nav>
    </header>
    <main class="contents">
      <section class="mainContainer">
        <div class="inputConatiner">
          <div class="mainInput">
            <h2>지금 바로 눌러 예약하세요</h2>
            <div class="reservation">
              <a href="{% url 'reservation' %}"><button type="text" placeholder="예약하세요!">예약하기
              </a>
            </div>
            <div class="signLogin" style="display:inline;">
              <a class="modal_btn">로그인</a>
              <p style="display:inline ;">또는</p>
              <a href="sign.html">회원가입</a>
            </div>
          </div>
          <div class="inputImg">
            <img src="{% static 'img/logo.png' %}" alt="" />
          </div>

        </div>
      </section>
    </main>
    <section id="modal">
      <div class="modal_wrap">
        <div class="cheer">
          <h1>로그인</h1>
          <form action="" class="user" method="POST">
            {% csrf_token %}
            <input type="text" class="form-control form-control-user" id="username" name="username" placeholder="아이디"
              required>
            <input type="password" class="form-control form-control-user" id="password" name="password"
              placeholder="비밀번호" required>
          </form>
          <button class="close_btn" type="submit" value="login!">로그인</button>
        </div>

      </div>
    </section>
    <footer>
      <div></div>
    </footer>
  </div>
  <script src="{% static 'js/app.js' %}"></script>
</body>

</html>