<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div id="container">
      <header>
        <nav>
          <div id="navContainer">
            <div id="nav_Logo">
              <img
                src="{% static 'img/logo.png' %}"
                alt="logo"
                width="50px"
                height="50px"
              />
            </div>
            <div id="nav_name">
              <h1>LAIN</h1>
            </div>
          </div>
        </nav>
      </header>
      <main class="photos">
        <div class="photo_container">
          <div class="photo_title">
            <h2>가고 싶은 장소를 클릭해주세요</h2>
          </div>
          <div class="photoCon_container">
            <div class="photo_con">
              <img class="photo_img" src="../../static/img/CW.jpg" alt="" />
              <div class="photo_des">
                <h3>청와대</h3>
                <p>서울특별시 종로구 청와대로 1</p>
              </div>
              <div class="black"></div>
            </div>
            <div class="photo_con">
              <img class="photo_img" src="../../static/img/GB.jpg" alt="" />
              <div class="photo_des">
                <h3>경복궁</h3>
                <p>서울특별시 종로구 사직로 161</p></p>
              </div>
              <div class="black"></div>
            </div>
            <div class="photo_con">
              <img class="photo_img" src="../../static/img/SAN.jpg" alt="" />
              <div class="photo_des">
                <h3>무슨산</h3>
                <p>어디여ㅋㅋ</p>
              </div>
              <div class="black"></div>
            </div>
          </div>
          
        </div>
      </main>

      <footer></footer>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
